.fooditem{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(194, 191, 191) ;
    transition: 0.3s;
    animation: fadeIn 1s;
    cursor: pointer;
    padding: 5px;
}
.fooditem:hover{
    background: rgb(252, 248, 248) ;
}
.fooditem-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.fooditem-info{
    padding: 20px;
}
.fooditem-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.fooditem-name-rating p{
    font-size: 17px;
    font-weight: 500;
}
.fooditem-name-rating img{
    width: 70px;
}
.fooditem-description{
    color: #676767;
    font-size: 12px;
}
.fooditem-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 2px 0px;
}
.fooditem-image-container{
    position: relative;
}
.fooditem-image-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.fooditem-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}
.fooditem-counter img{
    width: 25px;
}