.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 9vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-contant{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 170px;
}
.footer-contant-left, .footer-contant-right, .footer-contant-centre{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    cursor: pointer;
}
.footer-contant-left li, .footer-contant-right li, .footer-contant-centre li{
   list-style: none;
   margin-bottom: 10px;
}
.footer-contant-right h2, .footer-contant-centre h2{
    color: white;
}
.footer-social-icon img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 10px 0px;
    background-color: grey;
    border: none;
}
@media (max-width:750px) {
    .footer-contant{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}