.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar-logo p{
    font-weight: 500;
    color: rgb(66, 66, 66);
}

.navbar-logo img {
    width: 80%;
}

.admin-profile {
    width: 4%;
    border-radius: 100%;
}